#typeset h1 {
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}
#typeset h2 {
	font-size: 1.33333em;
	text-align: center;
	font-weight: normal;
}

#typeset h3 {
	font-size: 1.16667em;
	text-align: center;
	font-weight: normal;
	margin-top: 2em;
}

#typeset h3 span {
	font-style: italic;
}

#typeset {
    padding: 0.5em;
    margin: 0 auto;
}

#typeset hr {
	margin-top: 2em;
	width: 6em;
}

#typeset img {
	float: right;
	margin: 1.5em 0em 1.5em 1.5em;
}

#typeset p {
	padding: 0;
	margin: 0;
/*	outline: 1px solid red;*/
	text-align: left;
}